<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Розширений пошук Google</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <form action="google.html">
            <button id="gaicon" type="submit">Click me</button>
        </form>
        <p id="advsearchtitle">Розширений пошук</p>
        <div id="settings">
            <form action="https://www.google.com/search" id="s1zaZb" method="GET" name="f">
                <p>Знайти сторінки, що<br>містять...</p>
                <p style="position: absolute; top: 5%; left: 470%; width: 200px; font-weight:bold; font-size:13px">Як це зробити в полі пошуку</p>
                <p style="font-size: 14px">
                    усі ці слова:
                    <div>
                        <input style="position: absolute; top: 22%;" class="set1" type="text" name="as_q">
                        <p style="font-size: 14px; position: absolute; top: 20%; left: 480%; font-size: 11px; width: 250px;">Введіть важливі слова: триколірний рет-тер’єр</p>
                    </div>
                </p>
                <p style="font-size: 14px">
                    <br>
                    точне слово або фразу:
                    <div>
                        <input style="position: absolute; top: 38%;" class="set1" type="text" name="as_epq">
                        <p style="font-size: 14px; position: absolute; top: 36%; left: 480%; font-size: 11px; width: 250px;">Візьміть точні слова в лапки: "рет-тер’єр"</p>
                    </div>
                </p>
                <p style="font-size: 14px">
                    <br>
                    будь-яке з цих слів:
                    <div>
                        <input style="position: absolute; top: 55%;" class="set1" type="text" name="as_oq">
                        <p style="font-size: 14px; position: absolute; top: 53%; left: 480%; font-size: 11px; width: 400px;">Введіть OR між усіма потрібними словами: мініатюрні OR стандартні</p>
                    </div>
                </p>
                <p style="font-size: 14px">
                    <br>
                    жодне з цих слів:
                    <div>
                        <input style="position: absolute; top: 71%;" class="set1" type="text" name="as_eq">
                        <p style="font-size: 14px; position: absolute; top: 67.5%; left: 480%; font-size: 11px; width: 280px;">Поставте знак мінус перед небажаними словами: -гризун, -"Джек Рассел""</p>
                    </div>
                </p>
                <p style="font-size: 14px">
                    <br>
                    числа в діапазоні від:
                    <div>
                        <input style="position: absolute; top: 88%; width:200px;" class="set1" type="text" name="as_nlo">
                        <p style="font-size: 14px; position: absolute; top: 84%; left: 300%">до</p>
                        <input style="position: absolute; top: 88%; width:200px; left: 335%" class="set1" type="text" name="as_nhi">
                        <p style="font-size: 14px; position: absolute; top: 84.5%; left: 480%; font-size: 11px; width: 320px;">Поставте 2 крапки між числами та додайте одиницю виміру: 10..35 фунтів, 300..500 дол. США, 2010..2011"</p>
                    </div>
                </p>
                <input id="advbutton" type="submit" value="Розширений пошук">
            </form>
        </div>
        <div id ="footer">
            <p style="margin-left: 30px">Україна</p>
        </div>
        <div id ="flfooterl">
            <p style="margin-left: 35px">
                <a style="color: #70757a" href="https://about.google">Про Google</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://ads.google.com">Реклама</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://www.google.com/services">Для бізнесу</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://www.google.com/search/howsearchworks">Як працює Google Пошук</a>
            </p>
        </div>
        <div id="flfooterr">
            <p style="margin-left: 58%">
                <a style="color: #70757a" href="https://policies.google.com/">Конфіденційність</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://policies.google.com/terms">Умови</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://www.youtube.com/watch?v=iJ1OdYpC3iM">Налаштування</a>
            </p>
        </div>
    </body>
</html>