<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Google images</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="container">
            <img id="gilogo" src="../static/images/google_logo.png">
            <div class="imtext">Зображення</div>
        </div>
        <div class="fig">
            <form action="https://images.google.com/images">
                <div class="simages">
                    <input id="ifield" type="text" name="q">
                    <button id="bloopa" type="submit"></button>
                </div>
            </form>
        </div>
        <div id ="footer">
            <p style="margin-left: 30px">Україна</p>
        </div>
        <div id ="flfooterl">
            <p style="margin-left: 35px">
                <a style="color: #70757a" href="https://about.google">Про Google</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://ads.google.com">Реклама</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://www.google.com/services">Для бізнесу</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://www.google.com/search/howsearchworks">Як працює Google Пошук</a>
            </p>
        </div>
        <div id="flfooterr">
            <p style="margin-left: 65%">
                <a style="color: #70757a" href="https://policies.google.com/">Конфіденційність</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://policies.google.com/terms">Умови</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://www.youtube.com/watch?v=iJ1OdYpC3iM">Налаштування</a>
            </p>
        </div>

    </body>
</html>