<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Google</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <img id="gslogo" src="../static/images/google_logo.gif">
        <div class="fig">
            <form action="https://www.google.com/search">
                <input id="ifield" type="text" name="q">
                <input id="gbutton_s" type="submit" value="Пошук у Google">
                <input id="gbutton_l" type="submit" value="Мені пощастить!" name="btnI">
            </form>
        </div>

        <div class="menu">
            <a href="google_images.html">Зображення</a>
            &nbsp
            <a href="advanced_google.html">Розширений пошук</a>
        </div>

        <div id ="footer">
            <p style="margin-left: 30px">Україна</p>
        </div>
        <div id ="flfooterl">
            <p style="margin-left: 35px">
                <a style="color: #70757a" href="https://about.google">Про Google</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://ads.google.com">Реклама</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://www.google.com/services">Для бізнесу</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://www.google.com/search/howsearchworks">Як працює Google Пошук</a>
            </p>
        </div>
        <div id="flfooterr">
            <p style="margin-left: 58%">
                <a style="color: #70757a" href="https://policies.google.com/">Конфіденційність</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://policies.google.com/terms">Умови</a>
                &nbsp;&nbsp;&nbsp;
                <a style="color: #70757a" href="https://www.youtube.com/watch?v=iJ1OdYpC3iM">Налаштування</a>
            </p>
        </div>
    </body>
</html>